@use "../../variables" as vars;

.wrapper {
  display: flex;
  align-items: center;
  width: 240px;
  height: 70px;
  border-radius: vars.$radii;
  box-shadow: vars.$shadow;
  overflow: hidden;
  cursor: pointer;
  transition: vars.$op-transition;

  &_active {
    border: vars.$border;
  }

  &:hover {
    opacity: vars.$opacity;
  }
}

.photo {
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: center;
}

.user {
  height: 100%;
  border-left: vars.$border;
  padding: 0 0 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5px;

  &_active {
    height: 100%;
    width: 100%;
    background-color: vars.$bg-active;
  }

  &__username {
    width: 142px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @include vars.text;
  }

  &__email {
    width: 142px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @include vars.text-additional;
  }
}
