@use "../../variables" as vars;

.page {
  padding: 46px 50px 44px;
  display: flex;
  flex-direction: column;
  background: vars.$bg;
  min-height: 100vh;
}

.header {
  margin: 0 0 44px;
  display: flex;
  justify-content: space-between;
}

.main {
  border-radius: vars.$radii;
  background: vars.$bg-alt;
  box-shadow: vars.$shadow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 0 0;
  height: 100%;
}
